@font-face {
    font-family: ProtoMonoRegular;
    src: url("Proto.Mono/Proto Mono Regular.ttf");
}

@font-face {
    font-family: ProtoMonoBold;
    src: url("Proto.Mono/Proto Mono Semi Bold.ttf");
}

body {
    background-color: black;
    font-family: ProtoMonoRegular;
}
h1 {
    color: #00FFEF;
    color: red;
    font-size: 67px;
}
.logo {
    color: white;
    font-family: ProtoMonoBold;
}